/* Global */
@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono");

:root {
  --background-color: #f5f5f5;
  --light-alt-color: #d8d8d8;
  --alt-color: #777777;
  --main-font: "Poppins";
  --alt-code-font: "Space Mono";
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--background-color);
  font-family: var(--main-font);
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin-top: 3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

h1 code {
  font-family: var(--alt-code-font);
  font-weight: normal;
}

a {
  text-decoration: none;
}

a:hover {
  color: dodgerblue;
}

div a {
  text-decoration: none;
}

div a:hover {
  color: unset;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

span {
  position: relative;
  font-family: var(--alt-code-font);
  bottom: 0.3px;
  left: 1px;
}

/* Navbar */
ul {
  display: flex;
  font-family: var(--alt-code-font);
  list-style-type: none;
  white-space: nowrap;
}

ul li:hover {
  border-bottom: black solid 3px;
}

#slash {
  border-bottom: none;
}

ul a {
  text-decoration: none;
  color: unset;
  display: flex;
  cursor: pointer;
}

ul li {
  font-size: 1.7rem;
  margin-left: 1em;
  margin-top: 0.25em;
}

#menu {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 5px;
}

.shownavbar {
  display: none;
}

ul div {
  display: flex;
  gap: 3em;
  margin-left: auto;
  margin-right: 2.5em;
}

ul div img {
  margin-top: 0.8em;
}

/* Providers */
.provider-div {
  display: flex;
  position: relative;
  bottom: 5em;
  left: 50%;
  transform: translateX(-50%);
}

.provider-megaflex {
  display: flex;
  flex-direction: column;
}

.provider {
  background-color: white;
  border-radius: 10px;
  width: 355.55px;
  height: 200px;
  margin-top: 7em;
  padding-top: 2em;
  padding-bottom: 1em;
  height: max-content;
  cursor: pointer;
  position: relative;
  margin-left: 6em;
  margin-left: auto;
  margin-right: auto;
}

.provider:hover {
  box-shadow: 5px 5px 5px var(--alt-color);
  transition: ease-in-out 0.3s;
}

.other-providers {
  font-family: var(--alt-code-font);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 21em;
  height: 5em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  display: inline-flex;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  margin-bottom: 2em;
}

.provider img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.provider h1 {
  font-family: var(--alt-code-font);
}

.captcha-div {
  display: none;
  transform: scale(1.07);
  position: relative;
  right: 26.5em;
}

.captcha {
  background-color: unset;
}

.captcha:hover {
  box-shadow: none;
}

/* About */
.about h1 {
  text-align: inherit;
  font-family: var(--alt-code-font);
  margin-left: 1.6em;
  font-weight: unset;
}

.about p {
  font-size: 1.3rem;
  margin-left: 2.5em;
}

.about-flexbox {
  display: flex;
}

.about-code code {
  position: relative;
  top: 8em;
  right: 5em;
  margin-left: 10em;
  background-color: black;
  font-size: larger;
  color: white;
  padding: 1.1em;
  border-radius: 13px;
  white-space: nowrap;
}

/* Sign In */
.signin {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Credit - https://getcssscan.com/css-buttons-examples (Button 6) */
.signin button {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: var(--alt-code-font);
  font-size: 0px;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
}

.signin button:hover {
  font-size: 16px;
  gap: 1em;
}

#email-button {
  display: none;
}

/* Dashboard */
.email-div {
  display: flex;
  position: relative;
  flex-direction: column;
  top: 1em;
}

.email-div p {
  text-align: center;
  font-size: 1.5em;
}

.email-div p span {
  font-size: 1.65rem;
}

.email-div #email {
  background-color: white;
  border-radius: 25px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-right: 3em;
  padding-left: 2em;
  margin-top: 0.8em;
  position: relative;
  bottom: 2em;
  white-space: nowrap;
}

.email-div #copy-pseudodiv {
  margin-right: auto;
  margin-left: 0.7em;
  font-size: 2rem;
}

.email-div #copy {
  cursor: pointer;
  width: 120px;
  background-color: rgb(0, 150, 0);
  color: #fff;
  text-align: center;
  padding: 4px 0;
  border-radius: 25px;
  position: absolute;
}

.email-div #copymobile {
  display: none;
  cursor: pointer;
  background-color: rgb(0, 150, 0);
  color: #fff;
  text-align: center;
  padding: 6px 28px;
  border-radius: 25px;
  text-align: center;
}

/* Form */
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.8em;
  margin-bottom: 1em;
}

.label-div {
  display: flex;
  gap: 0.8em;
}

.label-div label {
  white-space: nowrap;
}

label {
  font-size: 1.3rem;
  font-family: var(--alt-code-font);
}

input {
  font-family: var(--alt-code-font);
  font-size: 16px;
}

form button {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  cursor: pointer;
  font-family: var(--alt-code-font);
  font-size: 16px;
  color: black;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
}

select option[disabled="disabled"] {
  display: none;
}

/* Miscellaneous */
footer {
  bottom: 0;
  text-align: center;
  padding: 2em;
}

footer span {
  position: relative;
  font-family: var(--alt-code-font);
  font-size: 1.1rem;
  left: 1px;
  top: 0px;
}

.grecaptcha-badge {
  opacity: 0;
}

/* Responsiveness */
@media (max-width: 800px) {
  .mininavbar {
    display: none;
  }

  .shownavbar {
    display: block;
  }

  ul li {
    position: absolute;
    right: 0;
    padding-right: 0.6em;
  }

  ul li:hover {
    border-bottom: none;
  }

  #menu {
    margin-left: 5em;
  }

  #github {
    display: none;
  }

  #logo {
    margin-left: -2.25em;
  }

  .captcha-div {
    right: 0em;
  }

  .container {
    width: 70%;
  }

  .email-div #email {
    position: relative;
    padding-right: 1em;
    padding-left: 1.3em;
    left: 0.4em;
  }

  .email-div #email a {
    position: relative;
    bottom: 0.5em;
    font-size: 0.7rem;
  }

  .email-div #copy {
    display: none;
  }

  .email-div #copymobile {
    display: inline;
    margin-right: 1em;
  }
}

@media (max-width: 1100px) {
  .about-flexbox {
    flex-direction: column;
    margin-right: 3em;
  }

  .about-code code {
    display: none;
  }

  .provider-div {
    flex-direction: column;
  }
}
